@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.LocationShooting {
  width: calc(100% - 48px);

  .LocationShooting__title {
    font-family: Noto Sans, Noto Sans JP, sans-serif;
  }

  .LocationShooting__title + .LocationShooting__heading {
    margin-top: 20px;
  }

  .LocationShooting__heading {
    display: flex;
    justify-content: space-between;
  }

  .LocationShooting__headingImage {
    max-width: 600px;
  }

  .LocationShooting__headingText {
    // 縦書き指定
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .LocationShooting__headingTitle {
    font-weight: bold;
  }

  .LocationShooting__headingSubtitle {
    font-size: 12px;
    color: $global-color-gray-2;
  }

  .LocationShooting__description {
    margin-top: 68px;
    line-height: 2;
  }

  .LocationShooting__descriptionEn {
    margin-top: 36px;
    font-size: 13px;
    line-height: 1.8;
  }
}
