@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Access {
  width: calc(100% - 48px);

  .Access__heading {
    display: flex;
    justify-content: space-between;
  }

  .Access__headingText {
    // 縦書き指定
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .Access__headingTitle {
    font-weight: bold;
  }

  .Access__headingSubtitle {
    font-size: 12px;
    color: $global-color-gray-2;
  }

  .Access__description {
    margin-top: 68px;
    display: flex;
    width: 100%;
    font-family: "A P-OTF UD Shin Go Pr6N";

    p + p {
      margin-left: 120px;
    }
  }

  .Access__descriptionEn {
    margin-top: 4px;
    font-size: 16px;
    color: $global-color-gray-3;
  }
}
