@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Access {
  width: 100%;

  .Access__heading {
    display: flex;
    justify-content: space-between;
  }

  .Access__headingText {
    // 縦書き指定
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  .Access__headingTitle {
    font-weight: bold;
  }

  .Access__headingSubtitle {
    font-size: 12px;
    color: $global-color-gray-2;
  }

  .Access__description {
    margin-top: 68px;
    display: flex;
    width: 100%;
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: bold;

    p + p {
      margin-left: 120px;
    }

    @include respondToLg {
      font-size: 14px;
    }
  }

  .Access__descriptionEn {
    margin-top: 4px;
    font-size: 16px;
    color: $global-color-gray-3;
  }

  .Access__descriptionEn + p {
    @include respondToLg {
      margin-top: 8px;
    }
  }

  .Access__description,
  .Access__descriptionEn,
  .Access__descriptionEn + p {
    @include respondToLg {
      font-size: 14px;
    }
  }

  & .Access__description,
  & .Access__descriptionEn + p {
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: bold;
  }
}
