@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Footer {
  position: relative;
  padding-bottom: 68px;
  width: calc(100% - 48px);
  color: $global-color-black-2;

  @include respondToLg {
    width: 100%;
    // フッター分のpaddingを持つ
    padding-bottom: 44px;
  }

  .Footer__logoWrapper {
    padding: 20px 28px 0;

    @include respondToLg {
      padding: 0 12px;
    }
  }

  .Footer__nav,
  .Footer__address {
    padding-left: 48px;

    @include respondToLg {
      padding: unset;
      text-align: center;
    }
  }

  .Footer__address {
    @include respondToLg {
      font-size: 14px;
    }
  }

  .Footer__navItems {
    display: flex;
    font-size: 18px;
  }

  .Footer__navItem {
    a {
      color: $global-color-black-2;
      // transition
      transition-timing-function: ease-in;
      transition-duration: 0.3s;
    }
  }

  @media (hover: hover) {
    .Footer__navItem {
      a:hover {
        color: $global-color-black-hover;
      }
    }
  }

  .Footer__navItem + .Footer__navItem {
    margin-left: 4px;
  }
}
