// color
$global-color-red: #ac4222;
$global-color-yellow: #b48400;
$global-color-gray: #d3d3d3;
$global-color-gray-2: #5c5c5c;
$global-color-gray-3: #747474;
$global-color-white: #ffffff;
$global-color-black: #1a1311;
$global-color-black-2: #000000;
$global-color-black-hover: #a8a8a8;

// z-index
$global-elevation-background: -999;
$global-elevation-1: 1000000;
$global-elevation-2: 4000000;
$global-elevation-3: 8000000;

// width, height
$page-max-height: 900px;
