@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.OnlineStoreLink {
  position: fixed;

  right: 80px;
  bottom: 48px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $global-color-yellow;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  z-index: $global-elevation-1;

  @include respondToLg {
    right: 20px;
    bottom: 56px;
    width: 60px;
    height: 60px;
  }

  @media (hover: hover) {
    &.OnlineStoreLink:hover {
      filter: brightness(1.15);
    }
  }

  .OnlineStoreLink__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: $global-color-white;
    font-size: 20px;
    line-height: 1;

    @include respondToLg {
      height: 60px;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}
