@import "./style/_reset";
@import "./style/variables.scss";
@import "./style/mixin.scss";

body {
  font-family: "Antique Olive";
  background-color: $global-color-gray;
}

h2 {
  font-size: 1.8em;

  @include respondToLg {
    font-size: 1.5em;
  }
}
